---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<h1 class="text-3xl font-bold underline">Hello world!</h1>
		<slot />
	</body>
</html>

<style>
	:root{
		color-scheme: light dark;
	}

	@font-face {
		font-family: "Jolly";
		font-style: normal;
		font-weight: 100 1000;
		font-display: swap;
		src: url("/font/JollyLodger.woff2") format("woff2");
	}

	@font-face {
		font-family: "Tesla";
		font-style: normal;
		font-weight: 100 1000;
		font-display: swap;
		src: url("/font/tesla.woff2") format("woff2");
	}
	
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;

		font-family: Jolly, system-ui, sans-serif;
	}
</style>